@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main-bg {
    width: 100%;
    height: 500px;
    background: url("../images/hwang.jpg") no-repeat bottom;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 1px;
  }
  .main-title {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 25px;
  }
  .main-content{
      padding: 50px 0;
  }
  .mian-button{
      font-size: 20px;
      border: 0;
      padding: 15px 40px;
      background-color: #fff;
      transition: all 0.5s;
  }
  .mian-button:hover{
      background-color: aquamarine;
  }
  /* 설명박스 */
  .explain-box{
      position: relative;
      top: -20px;
      width: 80%;
      max-width: 500px;
      min-width: 290px;
      background-color: aquamarine;
      margin: auto;
      padding: 20px;
      margin-bottom: 20px;
  }
  /* form box */
  .form-bg{
      width: 100%;
      padding: 30px 0;
  
      background-color: #100250;
  }
  .form-white{
      width: 80%;
      max-width: 600px;
      background-color: #fff;
      margin: auto;
      padding: 30px;
  }
  form label{
      font-size: 15px;
      display: inline-block;
      
  }
  .w-100 , .w-50{
    
      padding: 10px;
  }
  .w-50{
      width: 50%;
      float: left;
     
  }
  .form-input{
      width: 100%;
      padding: 10px 20px;
      border: 1px solid #ddd;
      margin-top: 5px;
      border-radius: 2px;
  }
  .send-bt{
      display: block;
      margin-left: auto;
      background-color: blueviolet;
     padding: 10px 25px; 
     color: #fff;
     border: none;
     transition: all 0.5s;
     cursor: pointer;
   
  }
  .send-bt:hover{
      background-color: rgb(104, 32, 171);
  }
  